<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.todomodu.app">

    <application
        android:label="투두모두"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- 카카오 로그인용 커스텀 URL 스킴 -->
        <activity
            android:name="com.kakao.sdk.flutter.AuthCodeCustomTabsActivity"
            android:exported="true">
            <intent-filter android:label="flutter_web_auth">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="kakao79ccef683cb083189fb582a68c469d5c" android:host="oauth" />
            </intent-filter>
        </activity>

        <!-- 메인 액티비티 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- 기본 런처 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 🔗 HTTPS 딥링크: https://todomodu.com/invite?code=... -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="todomodu.com"
                    android:pathPrefix="/invite" />
            </intent-filter>

            <!-- 🔗 커스텀 스킴 딥링크: todomodu://invite?code=... -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="todomodu" />
            </intent-filter>
        </activity>

        <!-- Flutter용 설정 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <!-- FCM설정 -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel"/>
    </application>

    <!-- Flutter 텍스트 처리 플러그인 관련 쿼리 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>
