<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>717972600889-pqghflsta6kv06s5m5smusv2mlp9r6th.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB8RAMDG_o5cJQisV7vL5DLAXf_Zj4Vhjo</string>
	<key>GCM_SENDER_ID</key>
	<string>717972600889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.todomodu.app</string>
	<key>PROJECT_ID</key>
	<string>todomodu-4c419</string>
	<key>STORAGE_BUCKET</key>
	<string>todomodu-4c419.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717972600889:ios:58678220710a7a219935e8</string>
</dict>
</plist>